*{
    box-sizing: border-box;
}

body{
    margin: 0;
}

.parent {
    background-color: #23424a;
    padding:50px;
    /* width: 900px; */
    margin: 0 auto;
    width:80%;   /* Assign width value as percentage to get responsiveness instead of pixel(px) */
}

.child {
    background-color: #38cfd9;
    /* width: 750px; */
    
    height: 250px;

}